.raiting {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .icon {
        height: 30px;
        opacity: 1;
    }
    
    .text-review {
        margin-left: 10px;
        font-style: italic;
    }
}
