.restaurants-wrapper {
    margin-top: 50px;

    .restaurant {
        background-color: $tan;
        //min-width: 250px;
        //width: 100%;
        min-width: 800px;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 8px;

        .title-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .opening-wrapper {
                margin-right: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .day {
                    padding: 3px 0;

                    .day-name {
                        font-weight: bold;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .day-program {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-left: 20px;
                    }
                }
            }

            .icon {
                height: 30px;
                opacity: 1;
            }

            .raiting {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .text-review {
                    margin-left: 10px;
                    font-style: italic;
                }
            }

            .name-restaurant {
                color: black;
                font-weight: 700;
                font-size: 25px;
                margin-right: 10px;
            }

            .name-restaurant:hover {
                cursor: pointer;
                text-decoration: underline;
                color: $d;
            }
        }
        .content-restaurant {
            display: flex;
            flex-direction: row;

            .left-side {
                width: 50%;

                .contact {
                    padding: 10px;

                    .phone-wrapper, .address-wrapper {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 5px;
                    }

                    .address-wrapper {

                        .strada {
                            font-weight: bold;
                        }
                    }

                }
            }

            .right-side {
                width: 50%;

                .map-restaurant {
                    height: 400px;
                    width: 100%;
                    margin-top: -15px;
                }
            }
        }

        .tags-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 50px;
            left: 20px;

            .button-tag {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }


            .tags {
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;


                .tag {
                    background-color: $sienna;
                    border-radius: 10px;
                    padding: 5px;
                    margin: 0 5px;
                }

                .tag:hover {
                    cursor: pointer;
                    font-style: italic;
                }
            }
        }
    }
}

.add-padding {
    margin-right: 10px;
    height: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 28%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
