.restaurants-wrapper {
    margin-top: 50px;
    width: 100%;
    padding: 0 20px;

    .restaurant {
        background-color: $tan;
        //min-width: 250px;
        //width: 100%;
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 8px;
        box-sizing: border-box;

        .title-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .opening-wrapper {
                margin-right: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .day {
                    padding: 3px 0;

                    .day-name {
                        font-weight: bold;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .day-program {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        margin-left: 20px;
                    }
                }
            }

            .icon {
                height: 30px;
                opacity: 1;
            }

            .raiting {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .text-review {
                    margin-left: 10px;
                    font-style: italic;
                }
            }

            .name-restaurant {
                color: black;
                font-weight: 700;
                font-size: 25px;
                margin-right: 10px;
            }

            .name-restaurant:hover {
                cursor: pointer;
                text-decoration: underline;
                color: $d;
            }
        }
        .content-restaurant {
            display: flex;
            flex-direction: row;

            .left-side {
                width: 50%;

                .contact {
                    padding: 10px;

                    .phone-wrapper, .address-wrapper, .website-wrapper{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 5px;
                    }

                    .address-wrapper {

                        .strada {
                            font-weight: bold;
                        }
                    }

                }
            }

            .right-side {
                width: 50%;

                .map-restaurant {
                    height: 400px;
                    width: 100%;
                    margin-top: -15px;
                }
            }
        }

        .tags-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 50px;
            left: 20px;

            .button-tag {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }


            .tags {
                margin-left: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;


                .tag {
                    background-color: $sienna;
                    border-radius: 10px;
                    padding: 5px;
                    margin: 0 5px;
                }

                .tag:hover {
                    cursor: pointer;
                    font-style: italic;
                }
            }
        }

        .add-review-button-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            .add-review-button {
                color: white;
                font-size: 25px;
                font-weight: bold;
                background-color: $sienna;
                border: 2px solid grey;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .text-tolltip-add-review {
                    font-size: 16px;
                }
            }

            .add-review-button:hover {
                cursor: pointer;
            }
        }
    }
}

.tooltip-add-review {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-add-review .tooltiptext-add-review {
    visibility: hidden;
    width: 150px;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip-add-review .tooltiptext-add-review::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip-add-review:hover .tooltiptext-add-review {
    visibility: visible;
}

.add-padding {
    margin-right: 10px;
    height: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 28%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.login-modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99;

    .login-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        background-color: white;
        border-radius: 5px;
        box-shadow: 2px 3px 6px black;
        overflow: auto;
    }
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .img-search {
        border-radius: 50%;
        height: 25px;
        width: 25px;
        overflow: hidden;
    }

    .img-search:hover {
        cursor: pointer;
    }
}

.input-search-class {
    height: 35px;
    font-size: 16px;
}
